textarea
{
    width:300px;
    height:200px;
    background-color: lemonchiffon;

}
button
{
    width:auto;
    height:auto;
    background-color: bisque;
    
}

button:active
{
    background-color: azure;
}
pre
{
    width:300px;
    height:200px;
    background-color: rgb(193, 197, 200);
}
pre:hover
{
    background-color: antiquewhite;
}