
/* 全部img标签引用此定义风格 */
img{
    width: 100vw;
    height:30vh;
 border-radius: 50%;
}
div
{
background-color: pink;
}
.p
{
width:200px;
height:150px;

}
div
{
width: 50vw;
height:30vh;
margin: 5px;
background-color: pink;
border-radius: 5px;
border-spacing: 5px;
border-color: aqua;
border-style: solid;

border-width: 2px;
}
.blue-p
{
background-color: pink
}
.big
{
width:200px;
height:144px;
}
h1::selection
{
    color:aqua;
}
h1::before
{
    content:"《";
    
}
h1::after
{
    content: "》";
}
p::first-line
{
    font-size :20px;
}
div:target
{
    width:1500px;
    background-color:red;
    transition:300ms;
}
div.big.real
{

    transform:scale(2.0);
    transition: 10000ms;
}